* {
  margin: 0;
  padding: 0;
}

.search-form {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.form-title {
  font-size: 48px;
  margin: 32px 0px;
  text-align: center;
  width: 100%;
}

.input {
  border: 1px solid black;
  border-radius: 10px;
  box-sizing: border-box;
  font-family: 'Verdana', sans-serif;
  font-size: 24px;
  height: 40px;
  margin: 0 8px;
}

.form-input {
  padding: 0px 8px;
}

.form-submit {
  cursor: pointer;
  padding: 0px 16px;
}

.result-total {
  font-size: 28px;
  margin: 8px 0px;
}

.list-of-users {
  margin: 16px auto;
  width: 90%;
}

.user-entry {
  border: 1px solid black;
  box-sizing: border-box;
  display: flex;
  margin: 8px 0px;
  padding: 24px;
  width: 100%;
}

.user-profile {
  display: inline-flex;
  flex-flow: column wrap;
  width: 50%;
}

.user-stats {
  display: inline-flex;
  align-content: center;
  flex-flow: column wrap;
  justify-content: space-evenly;
  width: 50%;
}

.user-name {
  font-size: 36px;
  text-align: center;
}

.user-image {
  margin: 0 auto;
}

.profile-photo {
  border-radius: 50%;
  height: 256px;
  width: 256px;
}
